main{
  padding:40px;
}

.main-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:40px;

}
form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:20px;
}
form label{
  display: flex;
  flex-direction: column;
}

#checkbox-label{
  display: flex;
  flex-direction: row;
}
.cv-viewer{
  background-color: white;
  color: black;

}